<header class="headerApp">
      Adicione seu restaurante
  </header>

  <div layout-gt-sm="column" >
          <md-input-container class="md-block" flex-gt-sm >
            <label style="color: #444; font-size: 20px; margin-top: 20px;"></label>
            <input style="font-size: 20px;margin-top: 10px-; text-align: center" placeholder="Nome" ng-model="user.firstName">

          </md-input-container>
        </div>

  <div layout-gt-sm="column" >
          <md-input-container class="md-block" flex-gt-sm >
            <label style="color: #444; font-size: 20px; margin-top: 20px;"></label>
            <input style="font-size: 20px;margin-top: 10px-; text-align: center" placeholder="Endereço" ng-model="user.firstName">

          </md-input-container>
        </div>

  <div layout-gt-sm="column" >
          <md-input-container class="md-block" flex-gt-sm >
            <label style="color: #444; font-size: 20px; margin-top: 20px;"></label>
            <input style="font-size: 20px;margin-top: 10px-; text-align: center" placeholder="Especialidade" ng-model="user.firstName">

          </md-input-container>
        </div>

  <div layout-gt-sm="row" layout="row" style="margin-top: -20px;">

          <md-button flex class="md-raised" ng-click="answer('not useful')">Confirmar</md-button>
          <md-button flex class="md-raised" ng-click="cancel()">Cancelar</md-button>

        </div>
